.blend{
mix-blend-mode: multiply;
background-blend-mode: multiply;
}

main{
    display:flex;
    justify-content: center;
}

svg{
    height: 94vh;
}

#Texte_bleu{
animation-name: animMoveTexteBleu;
animation-duration: 6s;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-direction: alternate;
}

@keyframes animMoveTexteBleu{
0% {transform: translateX(-1.55%);}
100% {transform: translateX(1.55%);}
}



#Cadeau {
    transform-origin: center;
    animation-name: animMoveCadeau;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes animMoveCadeau{
    0%{transform: rotate(-0.75deg);}
    50%{transform: scale(1);}
    75%{transform: scale(1.01);}
    100%{transform: rotate(0.75deg);} 
}


#Cadeau_Top {
    transform-origin: center;
    animation-name: animMoveCadeauTop;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

#Cadeau:hover #Cadeau_Top{
    transform-origin: -3% 55%;
    animation-name: animOuvreCadeau;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes animOuvreCadeau{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(-10deg);}
}

@keyframes animMoveCadeauTop{
    0%{transform: rotate(-0.75deg);}
    100%{transform: rotate(0.75deg);} 
}


#Psyche{
    transform-origin: center;
    animation-name: animMoveGroupePsyche;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes animMoveGroupePsyche{
    0%{transform: scale(1.05);}
    100%{transform: scale(1);}
}


#Groupe_bleu{
    transform-origin: center;
    animation-name: animMoveCadeau;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


.GrandRectangle{
    animation-name: showGrandRectangle;
    animation-duration: 8s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}


@keyframes showGrandRectangle{
    0%{opacity: 0;}
    50%{opacity: 1;}
    75%{opacity: 0.75;}
    100%{opacity: 0;}
}


.PetitRectangle{
    animation-name: hidePetitRectangle;
    animation-duration: 8s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}


@keyframes hidePetitRectangle{
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}

#Trame_Bleue{
    animation-name: animMoveTrameBleue;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes animMoveTrameBleue{
    0%{transform: translate(-5px, 0px);}
    100%{transform: translate(5px, 0px);}
}

#Trame_Rouge{
    animation-name: animMoveTrameBleue;
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes animMoveTrameBleue{
    0%{transform: translate(-6px, 0px);}
    100%{transform: translate(6px, 0px);}
}


.rouge{
    animation-name: booyaka;
    animation-duration: 0.1s;
    animation-iteration-count: infinite;  
}

@keyframes booyaka{
    0%{background-color: #FF0000; fill: #FF0000;}
    49%{background-color: #FF0000; fill: #FF0000;}
    50%{background-color: #00FFFF; fill: #00FFFF;}
    100%{background-color: #00FFFF; fill: #00FFFF;}
}

