.blend{
mix-blend-mode: multiply;
background-blend-mode: multiply;
}

main{
    display:flex;
    justify-content: center;
}

svg{
    height: 94vh;
}


#Texte_bleu{
animation-name: animMoveTexteBleu;
animation-duration: 3s;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-direction: alternate;
}

@keyframes animMoveTexteBleu{
0% {transform: translateX(-2.5%);}
100% {transform: translateX(2.5%);}
}

#Typo:hover #Texte_bleu, #Typo:hover #Texte_rouge{
    transform-origin: -20% 55%;
    animation-name: animTexteBleu;
    animation-duration: 0.1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes animTexteBleu{
    0% {transform: translateX(10%);}
    50%{transform: scale(0.5);}
    75%{transform: scale(2);}
    100% {transform: translateX(-10%);}
}


#Cadeau, #Rene, #Santa {
    transform-origin: center;
    animation-name: animMoveCadeau;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes animMoveCadeau{
    0%{transform: rotate(-3deg);}
    50%{transform: scale(1);}
    75%{transform: scale(1.01);}
    100%{transform: rotate(3deg);}
}


#Cadeau_Top, #chapeauSanta, #brancheGauche, #brancheDroite {
    transform-origin: center;
    animation-name: animMoveCadeauTop;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

@keyframes animMoveCadeauTop{
    0%{transform: rotate(-3deg);}
    100%{transform: rotate(3deg);}
}




#Cadeau:hover #Cadeau_Top{
    transform-origin: -3% 55%;
    animation-name: animOuvreCadeau;
    animation-duration: 0.6s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes animOuvreCadeau{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(-10deg);}
}

#Santa:hover #yeuxSanta ,#Santa:hover #boucheSanta{
    transform-origin: -3% 55%;
    animation-name: animSanta;
    animation-duration: 0.2s;
    animation-timing-function: ease;
  animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

@keyframes animSanta{
    0%{transform: translateY(-10%);}
    100%{transform: translateY(20%);}
}


#Rene:hover #brancheGauche ,#Rene:hover #brancheDroite{
    animation-name: animRene;
    animation-duration: 0.4s;
    animation-timing-function: ease;
  animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

@keyframes animRene{
    0%{transform: rotate(15deg);}
    100%{transform: rotate(-15deg);}
}
