.blend{
mix-blend-mode: multiply;
background-blend-mode: multiply;
}

main{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

svg{
    height: 94vh;
}


#Texte_bleu{
-webkit-animation-name: animMoveTexteBleu;
        animation-name: animMoveTexteBleu;
-webkit-animation-duration: 3s;
        animation-duration: 3s;
-webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
-webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
-webkit-animation-direction: alternate;
        animation-direction: alternate;
}

@-webkit-keyframes animMoveTexteBleu{
0% {-webkit-transform: translateX(-2.7%);transform: translateX(-2.7%);}
100% {-webkit-transform: translateX(2.7%);transform: translateX(2.7%);}
}

@keyframes animMoveTexteBleu{
0% {-webkit-transform: translateX(-2.7%);transform: translateX(-2.7%);}
100% {-webkit-transform: translateX(2.7%);transform: translateX(2.7%);}
}



#Cadeau, #Rene, #Santa {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-animation-name: animMoveCadeau;
            animation-name: animMoveCadeau;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
}

@-webkit-keyframes animMoveCadeau{
    0%{-webkit-transform: rotate(-3deg);transform: rotate(-3deg);}
    50%{-webkit-transform: scale(1);transform: scale(1);}
    75%{-webkit-transform: scale(1.01);transform: scale(1.01);}
    100%{-webkit-transform: rotate(3deg);transform: rotate(3deg);}
}

@keyframes animMoveCadeau{
    0%{-webkit-transform: rotate(-3deg);transform: rotate(-3deg);}
    50%{-webkit-transform: scale(1);transform: scale(1);}
    75%{-webkit-transform: scale(1.01);transform: scale(1.01);}
    100%{-webkit-transform: rotate(3deg);transform: rotate(3deg);}
}


#Cadeau_Top, #chapeauSanta, #brancheGauche, #brancheDroite {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-animation-name: animMoveCadeauTop;
            animation-name: animMoveCadeauTop;
    -webkit-animation-duration: 0.2s;
            animation-duration: 0.2s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

@-webkit-keyframes animMoveCadeauTop{
    0%{-webkit-transform: rotate(-3deg);transform: rotate(-3deg);}
    100%{-webkit-transform: rotate(3deg);transform: rotate(3deg);}
}

@keyframes animMoveCadeauTop{
    0%{-webkit-transform: rotate(-3deg);transform: rotate(-3deg);}
    100%{-webkit-transform: rotate(3deg);transform: rotate(3deg);}
}


#Cadeau:hover #Cadeau_Top{
    -webkit-transform-origin: -3% 55%;
            transform-origin: -3% 55%;
    -webkit-animation-name: animOuvreCadeau;
            animation-name: animOuvreCadeau;
    -webkit-animation-duration: 0.6s;
            animation-duration: 0.6s;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

@-webkit-keyframes animOuvreCadeau{
    0%{-webkit-transform: rotate(0deg);transform: rotate(0deg);}
    100%{-webkit-transform: rotate(-10deg);transform: rotate(-10deg);}
}

@keyframes animOuvreCadeau{
    0%{-webkit-transform: rotate(0deg);transform: rotate(0deg);}
    100%{-webkit-transform: rotate(-10deg);transform: rotate(-10deg);}
}

#Santa:hover #yeuxSanta ,#Santa:hover #boucheSanta{
    -webkit-transform-origin: -3% 55%;
            transform-origin: -3% 55%;
    -webkit-animation-name: animSanta;
            animation-name: animSanta;
    -webkit-animation-duration: 0.2s;
            animation-duration: 0.2s;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}


@-webkit-keyframes animSanta{
    0%{-webkit-transform: translateY(-10%);transform: translateY(-10%);}
    100%{-webkit-transform: translateY(20%);transform: translateY(20%);}
}


@keyframes animSanta{
    0%{-webkit-transform: translateY(-10%);transform: translateY(-10%);}
    100%{-webkit-transform: translateY(20%);transform: translateY(20%);}
}


#Santa:hover #chapeauSanta{
    -webkit-transform-origin: -3% 55%;
            transform-origin: -3% 55%;
    -webkit-animation-name: animChapeau;
            animation-name: animChapeau;
    -webkit-animation-duration: 0.4s;
            animation-duration: 0.4s;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

@-webkit-keyframes animChapeau{
    0%{-webkit-transform: translateY(-7%);transform: translateY(-7%);}
    100%{-webkit-transform: translateY(0%);transform: translateY(0%);}
}

@keyframes animChapeau{
    0%{-webkit-transform: translateY(-7%);transform: translateY(-7%);}
    100%{-webkit-transform: translateY(0%);transform: translateY(0%);}
}


#Rene:hover #brancheGauche ,#Rene:hover #brancheDroite{
    -webkit-animation-name: animRene;
            animation-name: animRene;
    -webkit-animation-duration: 0.4s;
            animation-duration: 0.4s;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

@-webkit-keyframes animRene{
    0%{-webkit-transform: rotate(15deg);transform: rotate(15deg);}
    100%{-webkit-transform: rotate(-15deg);transform: rotate(-15deg);}
}

@keyframes animRene{
    0%{-webkit-transform: rotate(15deg);transform: rotate(15deg);}
    100%{-webkit-transform: rotate(-15deg);transform: rotate(-15deg);}
}

.spamSanta *{
    -webkit-animation-name: spamSanta;
            animation-name: spamSanta;
    -webkit-animation-duration: 0.05s;
            animation-duration: 0.05s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: reverse;
            animation-direction: reverse;
}

@-webkit-keyframes spamSanta{
    0%{background-color: #FF0000; fill: #FF0000; opacity: 1}
    49%{background-color: #FF0000; fill: #FF0000; opacity: 1}
    50%{background-color: #00FFFF; fill: #00FFFF; opacity: 1}
    100%{background-color: #00FFFF; fill: #00FFFF; opacity: 1}

}

@keyframes spamSanta{
    0%{background-color: #FF0000; fill: #FF0000; opacity: 1}
    49%{background-color: #FF0000; fill: #FF0000; opacity: 1}
    50%{background-color: #00FFFF; fill: #00FFFF; opacity: 1}
    100%{background-color: #00FFFF; fill: #00FFFF; opacity: 1}

}

.spamRene *{
    -webkit-animation-name: spamRene;
            animation-name: spamRene;
    -webkit-animation-duration: 0.05s;
            animation-duration: 0.05s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

@-webkit-keyframes spamRene{
    0%{background-color: #FF0000; fill: #FF0000; opacity: 1}
    49%{background-color: #FF0000; fill: #FF0000; opacity: 1}
    50%{background-color: #00FFFF; fill: #00FFFF; opacity: 1}
    100%{background-color: #00FFFF; fill: #00FFFF; opacity: 1}

}

@keyframes spamRene{
    0%{background-color: #FF0000; fill: #FF0000; opacity: 1}
    49%{background-color: #FF0000; fill: #FF0000; opacity: 1}
    50%{background-color: #00FFFF; fill: #00FFFF; opacity: 1}
    100%{background-color: #00FFFF; fill: #00FFFF; opacity: 1}

}

.rouge{
    -webkit-animation-name: booyaka;
            animation-name: booyaka;
    -webkit-animation-duration: 0.1s;
            animation-duration: 0.1s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

@-webkit-keyframes booyaka{
    0%{background-color: #FF0000; fill: #FF0000;}
    49%{background-color: #FF0000; fill: #FF0000;}
    50%{background-color: #00FFFF; fill: #00FFFF;}
    100%{background-color: #00FFFF; fill: #00FFFF;}
}

@keyframes booyaka{
    0%{background-color: #FF0000; fill: #FF0000;}
    49%{background-color: #FF0000; fill: #FF0000;}
    50%{background-color: #00FFFF; fill: #00FFFF;}
    100%{background-color: #00FFFF; fill: #00FFFF;}
}

.spamText{
    -webkit-transform-origin: -20% 55%;
            transform-origin: -20% 55%;
    -webkit-animation-name: animTexteBleu;
            animation-name: animTexteBleu;
    -webkit-animation-duration: 0.2s;
            animation-duration: 0.2s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

@-webkit-keyframes animTexteBleu{
    0% {-webkit-transform: translateX(50%);transform: translateX(50%);}
    50%{-webkit-transform: scale(0.5);transform: scale(0.5);}
    75%{-webkit-transform: scale(2);transform: scale(2);}
    100% {-webkit-transform: translateX(-50%);transform: translateX(-50%);}
}

@keyframes animTexteBleu{
    0% {-webkit-transform: translateX(50%);transform: translateX(50%);}
    50%{-webkit-transform: scale(0.5);transform: scale(0.5);}
    75%{-webkit-transform: scale(2);transform: scale(2);}
    100% {-webkit-transform: translateX(-50%);transform: translateX(-50%);}
